*{
    margin: 0;
    padding: 0;
  }
  
  ::-webkit-scrollbar {
    width: 0.625rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffff00;
    border-radius: 0.625rem; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #008000;
    border-radius: 0.625rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000; 
    cursor: pointer;
  }

  main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Anton', sans-serif;
  }
  
  .video-back{
    position: fixed;
    min-height: 150vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .nav-bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    width: 100vw;
    z-index: 2;
  }

  /* .nav-bar div{
    margin-right: 15px;
  } */

  .main-menu::before {
    content: "";
    margin-top: 12px;
    display: flex;
    height: 4px;
    width: 50px;
    padding: 2px 2px;
    background-color: #ffff00;
    border-radius: 25px;
  }

  .main-menu::after {
    content: "";
    margin-top: 8px;
    display: flex;
    height: 4px;
    width: 50px;
    padding: 2px 2px;
    background-color: #ffff00;
    border-radius: 25px;
  }

  .main-menu{
    margin: 1.25em;
    margin-bottom: 12px;
    height: 4px;
    width: 50px;
    padding: 2px 2px;
    background-color: #ffff00;
    border-radius: 25px;
  }

  .overlay{
    position: absolute;
    height: 100vh;
    width: 100vw; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(193,225,236,0.3);
    z-index: 0;
  }
  
  :is(.home-container, .nav-bar,.side-menu,.close){
    display: flex;
    position: absolute;
  }

  .side-menu{
    position: fixed;
    display: none;
    height: 100%;
    top: 0;
    left: 80%;
    right: 0;
    bottom: 0;
    background: rgb(237,237,237, 0.25 );
    backdrop-filter: blur( 0.25rem );
    -webkit-backdrop-filter: blur( 0.25 );
    z-index: 3;
  }

  .menu-options{
    margin-top: 6.25em ;
    height: 25em;
    width: auto;
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-options a{
    text-decoration: none;
    font-size: 3.438em;
    margin: 0.625em;
    padding: 0.313em;
    color: #ffff00;
    text-shadow: 0.125rem 0.125rem 0.188rem #008000;
  }

  .menu-options a:hover{
    cursor: pointer;
    color: #008000;
    text-shadow: 0.063em 0.063em #ff0000;
  }

  /* Side Menu Close Button */
  .close{
    justify-content: flex-start;
    height: 4.063rem;
    width: auto;
  }

  .close img{
    margin: 0.625em;
    height: auto;
    width: 2.813em;
  }

 :is(.main-menu, .closeBtn,.modalClose):hover {
    cursor: pointer;
  }

  .home-container{
    height: 100vh;
    width: 100vw; 
    z-index: 1;
  }

  .intro-text{
    margin: 4.688rem;
    height: auto;
    width: 21.875em;
    align-self: center;
    font-size: 2.813em;
    line-height: 1.2;
    color: #ffff00;
    text-shadow: 0.125rem 0.125rem 0.188rem #008000;
  }
  
  .intro-text h1{
    font-size: 1.5em;
    margin-bottom: 0.313em;
    line-height: 1;
  }

  .intro-text button {
    background: #ffff00;
    color: #008000;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 0.5em;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em #008000;
   }
   
   .intro-text button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
   }
   
   .intro-text button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

   
   .explore-modal{
    position: absolute;
    display: none;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 31.25em;
    width: 65vw;
    color: #F8F0E3;
    text-shadow: 0.063em 0.063em #cc0000;
    background: rgba( 207, 102, 102, 0.25 );
    backdrop-filter: blur( 0.25rem  );
    -webkit-backdrop-filter: blur( 0.25rem  );
    border-radius: 0.625rem;
    z-index: 4;
   }

   .explore-head {
    text-align:center;
    margin-top: 2em;
    font-size: 2.813em;
   }

   .explore-text{
    text-align: center;
    padding: 0.625em;
    font-size: 1.875em;
   }

  .landmarks{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1.875em;
  }

  .attraction{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
  }

  .attraction img{
    border-radius: 1.563rem;
    height: auto;
    width: 15.625em;
    margin: 0.625em;
    padding: 0.313em;
  }


  .attraction p{
    font-size: 1.563rem;
  }

  .pop-overlay{
    position: fixed;
    display: none;
    min-width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 3;
  }


/* Media Query */
/* Small Mobile Phone Media Query */
@media only screen and (max-width: 37.5rem){

  .side-menu{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .home-container{
    margin-top: 3.125em;
  }

  .overlay{
    height: 150vh;
  }

  .nav-bar{
    height: 4.688rem;
  }

  .main-menu{
    margin: 1rem;
  }

  .intro-text{
    margin-top: 9.375rem;
    height: auto;
    width: auto;
    font-size:2.188rem;
    line-height: 2.813rem; 
  }
  
  .intro-text button {
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 1.563rem;
   }

      
   .explore-modal{
    height: 31.25rem;
    width: 95vw;
    padding: 5px;
   }

   .explore-text{
    padding: 0.625rem;
    font-size: 1.5rem;
   }

   .landmarks{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1.2rem;
  }

   .attraction{
    margin: 1.563rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .attraction h1, h2{
    font-size: 1.563rem;
  }


  .attraction p{
    font-size: 1.5rem;
  }

  .attraction img{
    height: 21.875rem;
    width: 20rem;
    padding: 0.313rem;
  }

}

@media (min-height: 12.5rem),screen and (orientation: landscape)  {
  .overlay{
    height: 160vh;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 37.5rem) and (max-width: 56.25rem) {

  .side-menu{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .overlay{
    height: 125vh;
  }

  .menu-options a{
    margin: 1.563rem;
    font-size: 4.688rem;
    padding: 0.625rem;
  }

  .explore-modal{
    height: 37.5rem;
    width: 100vw;
   }

   .attraction{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.563rem;
    padding: 1.563rem 0;
  }

  .attraction h1, h2{
    font-size: 2.5rem;
  }


  .attraction p{
    font-size: 1.875rem;
  }

  .attraction img{
    height: 21.875rem;
    width: 500px;
    padding: 0.313rem;
  }
} 

@media only screen and (min-width: 62rem){
  
  .overlay{
    height: 100vh;
  }

  .side-menu{
    left: 40%;
  } 
 
}
