
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff00;
  border-radius: 10px; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #008000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0000; 
  cursor: pointer;
}


@keyframes mymove {

   40% {
    transform: rotateY(20deg);
  } 
}

@keyframes move-1 {

  20% {
   transform: rotateX(20deg);
 } 
}

/* Base Styles */

*{
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
  background-color: #e0e0e0;
}

main{
  height: 100vh;
  width: auto;
  font-family: 'Roboto Condensed', sans-serif;
}

a{
  text-decoration: none;
  color: #008000;
}

  
.button-link{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.625em;
  width: 21.875rem;
  height: 28.125rem;
  border: none;
  border-radius: 0.313em;
  filter: grayscale(1);
  box-shadow: 0.313em 0.313em 0.313em #0d0d0d;
  animation: move-1 3s infinite;
}

.button-link:hover{
  cursor: pointer;
  filter: grayscale(0);
  transition: ease-in 1s;
}

.button-link h1{
  padding-top: 1.563em;
  color: #ff0000;
  text-shadow: -1px 0 #ffff00, 0 1px  #ffff00, 1px  0 #ffff00, 0 -1px #ffff00, 5px 5px #008000;
  font-size: 2rem;
}

/* Button Background Images */

:is(.early-history, .independence, .current, .culture, .art, .sports,.judicial){
  background-repeat: no-repeat;
  background-size: cover;
}

.early-history{
  background-image: url('imgs/akan-artifact.jpg'); 
}

.independence{
  background-image: url('imgs/3f50eec35ff0f6ab0a9984b6926249c7.jpg');
}

.current{
  background-image: url('imgs/accra-ghana-Trafic_routier_sur_Liberation_Road_Accra_-_Ghana-1200x900.jpg');
  background-position: 60%;
}

.culture{
  background-image: url('imgs/kojo-kwarteng-FPU2BSBhhsI-unsplash.jpg');
  background-position: 60%;
}

.art{
  background-image: url('imgs/yoel-winkler-S__TncSd__k-unsplash.jpg');
  background-position: 60%;
}

.sports{
  background-image: url('imgs/Asamoah-Gyan-1.jpg');
  background-position: 60%;
}


.govt{
  background-image: url('imgs/ghana-politics-1483829828-9429.jpg');
  background-position: 40%;
}

.executive{
  background-image: url('imgs/Seal_of_the_Presidency_of_the_Republic_of_Ghana.svg.png');
  background-size: contain;
}

.legislative{
  background-image: url('imgs/Ghana_Parliament_Emblem.png');
  background-size: contain;
}

.judicial{
  background-image: url('imgs/supreme.jpg');
  background-position: 60%;
}

.parties{
  background-image: url('imgs/politicalparty.jpg');
  background-size: contain;
  background-position: 60%;
}


.presidents{
  background-image: url('imgs/former-pres.jpg');
  background-size: contain;
}
/* Header Containers */
:is(.primary-header, .secondary-header, .tertiary-header){
  display: flex;
  justify-content: center;
  height: 62.5em;
  width: 100vw;
  padding: 0.938em;
}


.primary-header{
  background:  linear-gradient(0deg,#e0e0e0,transparent 60%),
  #ff0000 url('imgs/square.jpg') no-repeat center / cover;
  background-position-y: 25%;
}

.secondary-header{
  background:  linear-gradient(0deg,#e0e0e0,transparent 80%),
  #ff0000 url('imgs/amevi-wisdom-wiUl_NyafcY-unsplash.jpg') no-repeat center / cover;
  background-position-y: 10%;
}

.tertiary-header{
background:  linear-gradient(0deg,#e0e0e0,transparent 80%),
#e0e0e0 url('imgs/reuben-hayfron-RjkZHESUuPw-unsplash.jpg') no-repeat center / cover;
}

:is(.primary-header, .secondary-header, .tertiary-header) h1{
  position: relative;
  margin-top: 15rem;
  font-size: 9.375rem;
  color:  #008000;
  text-shadow: -1px 0 #ffff00, 0 1px #ffff00, 1px 0 #ffff00, 0 -1px #ffff00, 7px 7px #ff0000;
  opacity: 0.7;
  animation: mymove 4s infinite;
}

:is(.primary-header, .secondary-header, .tertiary-header) h1::after{
  content: "";
  display: block;
  margin-top: 0.2em;
  width: auto;
  padding: 10px;
  background-color: #008000;
  box-shadow: -1px 0 #ffff00, 0 1px #ffff00, 1px 0 #ffff00, 0 -1px #ffff00, 7px 7px #ff0000;
  animation: mymove 4s infinite;
}

/* Content Containers & Elements */
.history-container, .culture-container, .politics-container{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100vw;
  margin-top: 12.5em;
}

.history-container, .culture-container{
  justify-content: space-evenly; 
}

.politics-container{
  justify-content: center; 
}

.branchs{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
  height: auto;
  width: 31.25em;
}

 .branchs a:is(.button-link){
  height: 12.5em;
  width: 12.5em;
  text-align: center;
}

/* Modal & Elements */
.modal-style{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 1.563em 2.188em;
    height: 75vh;
    width: 75vw;
    background: rgba( 207, 102, 102, 0.45 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 0.625em;
    border: 0.063em solid rgba( 255, 255, 255, 0.18 );
    z-index: 3;
    overflow-y: scroll;
    overflow-x: hidden;
}


.modal-close{
  position: absolute;
  font-size: 5rem;
  color: #e0e0e0;
  text-decoration: none;
  top: 0;
  left: 5%;
}

.fullImage{
  width:100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.fullImage img{
  width: 37.5em;
  height: 34.375em;
  max-width: 43.75em;
}

.fullImage span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.875rem;
  color: white;
  cursor: pointer;
}

/* Full Size Image Caption */
#img-caption{
  display: inline-block;
  color: #F8F0E3;
  font-size: 1.5rem;
  margin: 1.25em 2.5em;
  height: 18.75em;
  width: 25em;
}

.contents{
    margin-top: 6.25em;
    padding: 0.625em;
    width: auto;
}

.contents div{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contents button{
  height:  2.813em;
  width: 1.563;
}

.contents button + p{
  display: none;
}

.contents h1, h2{
  text-align: center;
  background: -webkit-linear-gradient(#ff0000, #ffff00,#008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:is(.contents) h1,h2{
  margin: 0.5em;
}

.contents h1{
  font-size: 4rem;
}

.contents h2{
  font-size: 2rem;
}

.contents p{
    color: #F8F0E3;
    line-height: 1.5;
    margin-top: 0.313em;
    font-size: 1.8rem;
}

.content-img{
    width:10.625em;
    height:10.625em;
    margin:0.625em;
    border-radius:0.938em;
}

.content-img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: ease-in-out 1s;
}


.inner-link + img{
  height: 4.688em;
  width: 4.688em;
}

.hide{
  display: none;
}

.inner-link:hover + .hide{
  display: inline-block;
  position: absolute;
}

.img-container{
    margin: 0.313em;
    height: 215.625em;
    width: auto;
}


table{
  margin:1.563em 0;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  border-collapse: collapse;
  background: -webkit-linear-gradient(#ff0000, #ffff00,#008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


  td, th {
    border: 0.063em solid #F8F0E3;
    padding: 0.5em;
  }

  td img{
    height: 6.25em;
    width: 4.688em;
  }

  td img:hover{
    cursor: pointer;
  }

.overlay{
  position: absolute;
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
  z-index: 2;
}

.overlay:target{
  visibility: visible;
  opacity: 1;
}

/* ID Selectors */
#athlete_table{
  width: 80%;
}

#athlete_table td img{
  height: 6.25em;
  width: 45%;
}
/* Media Query */

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px){

  :is(.primary-header, .secondary-header, .tertiary-header){
    height: 31.25em;
    padding: 0.313em;
  }

  :is(.primary-header, .secondary-header, .tertiary-header) h1{
    font-size: 5rem;
  }

  .history-container, .culture-container, .politics-container{
    align-items: center;
    flex-direction: column;
  }
  
  .button-link{
    width: 20rem;
  }

  .branchs a:is(.button-link){
    height: 10rem;
    width: 10rem;
  }

  .modal-style{
    height: 50vh;
  }

  .contents h1{
    font-size: 2.5rem;
  }
  
  .contents p{
    font-size: 1.5rem;
  }

  .content-img{
      width: 6.25em;
      height:6.25em;
    }

    .fullImage{
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }

    .fullImage img{
      width: 18.75em;
      height: 18.75em;
    }

    #img-caption{
      display: block;
      color: #F8F0E3;
      font-size: 1.5rem;
      margin: 1.25em;
      height: 4.688em;
      width: auto;
    }
    
    table{
      margin:1.563em 0;
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
      border-collapse: collapse;
      background: -webkit-linear-gradient(#ff0000, #ffff00,#008000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    
      td, th {
        border: 0.063em solid #F8F0E3;
        padding: 0.5em;
      }
    
      td img{
        height: 3.125em;
        width: 3.125em;
      }

      .scrollable{
        overflow-x: scroll;
      } 
    
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px){

  .politics-container{
    align-items: center;
    flex-direction: column;
  }

  .button-link{
    width: 25rem;
  }

  .branchs a:is(.button-link){
    height: 11rem;
    width: 11rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
 
  .branchs a:is(.button-link){
    height: 11rem;
    width: 11rem;
  }

  .contents h1{
    font-size: 4rem;
  }
  
  .contents h2{
    font-size: 3rem;
  }

  .contents p{
    font-size: 2.5rem;
  }

  .content-img{
      width: 9.375em;
      height:9.375em;
    }

    .fullImage{
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }

    .fullImage img{
      width: 31.25em;
      height: 31.25em;
    }

    #img-caption{
      display: block;
      color: #F8F0E3;
      font-size: 2.5rem;
      margin: 1.25em;
      height: 4.688em;
      width: auto;
    }

    table{
      margin:1.563em 0;
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
      border-collapse: collapse;
      background: -webkit-linear-gradient(#ff0000, #ffff00,#008000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .scrollable{
    overflow-x: scroll;
  } 
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

  .branchs a:is(.button-link){
    height: 11rem;
    width: 11rem;
  }
 
}

  /* Media Query for Large screens */
  @media (min-width: 1281px){
    :is(.primary-header, .secondary-header, .tertiary-header) h1{
      margin-top: 20rem;
    }
  }