*{
    margin: 0;
    padding: 0;
  }
  
  html{
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 0.625rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffff00;
    border-radius: 0.625rem; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #008000;
    border-radius: 0.625rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff0000; 
    cursor: pointer;
  }

  main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  /* Navagation Container & Elements */
  .nav-bar{
    height: auto;
    width: 100vw;
  }

  .nav-bar a{
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 2;
  }

  .nav-bar a::before{
    content: "";
    display: block;
    height: 5px;
    width: auto;
    background-color: #cc0000;
    transition: all 1s;
    opacity: 0;
  }

  .nav-bar a::after{
    content: "";
    display: block;
    height: 5px;
    width: auto;
    background-color: #008000;
    transition: all 1s;
    opacity: 0;
  }
  .nav-bar a:hover{
    cursor: pointer;
  }

  .nav-bar a:hover::before{
    content: "";
    display: block;
    height: 5px;
    width: auto;
    background-color: #cc0000;
    opacity: 1; 
  }

  .nav-bar a:hover::after{
    content: "";
    display: block;
    height: 5px;
    width: auto;
    background-color: #008000;
    opacity: 1; 
  }

  .nav-bar img{
    height: 50px;
    width: 50px;
  }

  .main-menu:hover{
    cursor: pointer;
  }

 /* Navagation Container & Elements End */

 /* Side Menu Container & Elements */
  .side-menu{
    position: absolute;
    height: 100%;
    top: 0;
    left: 80%;
    right: 0;
    bottom: 0;
    background: rgb(38,38,38, 0.5 );
    backdrop-filter: blur( 0.25rem );
    -webkit-backdrop-filter: blur( 0.25 );
    visibility: hidden;
    transition: all 2s;
    opacity: 0;
    z-index: 3;
  }

  .modal-close{
    position: absolute;
    font-size: 5rem;
    background: -webkit-linear-gradient(#ff0000, #ffff00,#008000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    top: 0;
    left: 5%;
  }

  .side-menu:target{
    visibility: visible;
    opacity: 1;
  }

  .menu-options{
    margin-top: 5em ;
    height: 25em;
    width: auto;
    padding: 0.625em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-options a{
    text-decoration: none;
    font-size: 3.438rem;
    margin: 0.313em;
    padding: 0.313em;
    color: #ffff00;
    text-shadow: 0.125em 0.125em 0.188em #008000;
  }

  .menu-options a:hover{
    cursor: pointer;
    color: #008000;
    text-shadow: 0.063em 0.063em #ff0000;
  }
 /* Side Menu Container & Elements End */

 /* Home Container & Elements */
  .home-container{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw; 
    z-index: 1;
  }

  .intro-text h1{
    font-size: 4.063rem;
    margin-bottom: 0.313em;
    line-height: 1;
  }

  .intro-text{
    margin: 4.688rem;
    height: auto;
    width: 21.875em;
    align-self: center;
    font-size: 2.813rem;
    line-height: 1.2;
    color: #cc0000;
    text-shadow: 4px 4px 4px #008000;
    -webkit-text-stroke: 1px #ffff00;
  }

 

  .intro-text a{
    display: block;
    max-width: 9.375rem;
    margin-top: 1.563em;
    background: #cc0000;
    text-decoration: none;
    color: #ffff00;
    font-family: inherit;
    letter-spacing: 0.5em;
    padding: 0.6em 1.3em;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em #008000;
  }
  
  
  .intro-text a:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    cursor: pointer;
  }
  
  .intro-text a:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

  
  .explore-modal{
    position: absolute;
    overflow-y: scroll;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 31.25em;
    color: #F8F0E3;
    text-shadow: 0.063em 0.063em #cc0000;
    background: rgba( 207, 102, 102, 0.25 );
    backdrop-filter: blur( 0.25rem  );
    -webkit-backdrop-filter: blur( 0.25rem  );
    border-radius: 0.625em;
    z-index: 3;
  }

  .explore-head {
    text-align:center;
    margin-top: 2em;
    font-size: 2.813rem;
  }

  .explore-text{
    padding: 0.625em;
    font-size: 1.875rem;
  }

  .landmarks{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1.875em;
  }

  .attraction{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
  }

  .attraction img{
    border-radius: 1.563em;
    height: auto;
    width: 15.625em;
    margin: 0.625em;
    padding: 0.313em;
  }


  .attraction p{
    font-size: 1.25rem;
  }

  .pop-overlay{
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    visibility: hidden;
    transition: all 0.4s;
    opacity: 0;
    z-index: 3;
  }


 .pop-overlay:target{
    visibility: visible;
    opacity: 1;
  }

 /* Home Container & Elements End */

 /* Video Background Class */
 .video-back{
  position: fixed;
  min-height: 150vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

  .overlay{
    position: absolute;
    height: 100vh;
    width: 100vw; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(193,225,236,0.3);
    z-index: 0;
  }
  


/* Media Query */
/* Media Query for Mobile Devices */
@media screen and (max-width: 480px){

  html{
    overflow-y: hidden;
  }

  .side-menu{
    width: 100vw;
    height: 100vh;
    left: 0;
  }
  
  .main-menu{
    margin: 1em;
  } 

  .modal-close{
    font-size: 3.5rem;
  }

  .menu-options{
    margin-top: 8em;
    justify-content: center;
  }

  .menu-options a{
    font-size: 3.125rem;
  }
  
  .intro-text h1{
    font-size: 2.5rem;
  }

  .intro-text{
    width: auto;
    font-size:2rem;
    line-height: 1; 
  }
  
  .intro-text a {
    font-size: 1.563rem;
   }

  
   .pop-overlay{
    overflow-x: hidden;
   }
   
   .explore-modal{
    height: 30em;
    width: 95vw;
    padding: 0.313em;
   }

   .explore-text{
    padding: 0.625em;
    font-size: 1.563rem;
   }

   .landmarks{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1.2em;
  }

   .attraction{
    margin: 1.563em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .attraction h1, h2{
    font-size: 2rem;
  }


  .attraction p{
    font-size: 1.7rem;
  }

  .attraction img{
    width: 20em;
    padding: 0.313em;
  }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px){

  .side-menu{
    height: 100vh;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
  }
  
  .menu-options{
    margin-top: 7em ;
  }

  .menu-options a{
    font-size: 3rem;
    padding: 0.625em;
  }

  .intro-text h1{
    font-size: 3rem;
  }

  .intro-text{
    width: auto;
    font-size:2rem;
    line-height: 1; 
  }
  
  .intro-text a {
    font-size: 1.563rem;
   }

  .explore-modal{
    height: 35rem;
    width: 95vw;
   }

   .explore-head {
    text-align:center;
    margin-top: 2.5em;
    font-size: 2.813rem;
   }

   .attraction{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.563em;
    padding: 1.563em 0;
  }

  .attraction h1, h2{
    font-size: 2.5rem;
  }


  .attraction p{
    font-size: 1.875rem;
  }

  .attraction img{
    width: 28.125em;
    padding: 0.313em;
  }

  .overlay, .pop-overlay{
    height: auto;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

  .side-menu{
    height: 100vh;
    top: 0;
    left: 70%;
    right: 0;
    bottom: 0;
  }
  

  .menu-options{
    margin-top: 7em ;
  }

  .menu-options a{
    font-size: 3rem;
    padding: 0.625em;
  }

  .intro-text h1{
    font-size: 4.5rem;
  }

  .intro-text{
    width: auto;
    font-size:3.5rem;
    line-height: 1; 
  }
  
  .explore-modal{
    height: 45rem;
    width: 95vw;
   }

   .explore-head {
    text-align:center;
    margin-top: 2.5em;
    font-size: 3rem;
   }

   .explore-text{
    font-size: 2.188rem;
  }

   .attraction{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.563em;
    padding: 1.563em 0;
  }

  .attraction h1, h2{
    font-size: 3rem;
  }


  .attraction p{
    font-size: 2.5rem;
  }

  .attraction img{
    width: 35em;
    padding: 0.313em;
  }
} 

/* Media Query for Laptops and Desktops */
 @media (min-width: 1025px) and (max-width: 1280px){
  

  .explore-modal{
    width: 75vw;
    padding: 1.563em;
   }
 
  .attraction h1, h2{
    font-size: 2.5rem;
  }

  .attraction p{
    font-size: 1.875rem;
  }

  .attraction img{
    height: 21.875em;
    width: 21.875em;
  }
}

  /* Media Query for Large screens */
  @media (min-width: 1281px){
    
    .nav-bar img{
      height: 65px;
      width: 65px;
    }

    .menu-options a{
      text-decoration: none;
      font-size: 4.5rem;
      margin: 0.313em;
      padding: 0.313em;
      color: #ffff00;
      text-shadow: 0.125em 0.125em 0.188em #008000;
    }
  

    .intro-text h1{
      font-size: 4.063rem;
    }
  
    .intro-text{
      margin: 4.688rem;
    }
  
    .intro-text a{
      max-width: 9.375rem;
      font-size: 1.5rem;
    }

    .explore-modal{
      width: 75vw;
      padding: 1.563em;
     }

    .explore-head, .attraction h1, h2 {
      font-size: 3rem;
    }

     .explore-text{
      padding: 0.625em;
      font-size: 2rem;
     }

    .attraction p{
      font-size: 2rem;
    }
  
    .attraction img{
      height: 21.875em;
      width: 20em;
    }
  }
